<header class="header">
  <div class="container">
<!--    <a href="/#/" class="logo">-->
    <a routerLink="/" class="logo">
      <img src="/assets/images/logo.png" alt="Logo">
    </a>
    <div class="profile" id="profile">
      <img src="/assets/images/profile.png" alt="profile" class="profile-image">
      <div class="profile-info">
        <div class="profile-user" id="profile-full-name">Роман Чернов</div>
<!--        <a href="#/logout" class="profile-logout">Выйти</a>-->
        <a routerLink="/logout" class="profile-logout">Выйти</a>
      </div>
    </div>
  </div>
</header>
